.btn-blue {
    background-color: #6D71DD;
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: right;
  }
  
  .btn-blue:hover {
    background-color: black;
    color: whites;
    text-align: right;
  }
  
  
  .menu-principal {
    background-color: #6D71DD;
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  .menu-principal:hover {
    background-color: black;
    padding: 6px 10px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }